.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}

.nav-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--great-vibes);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline;
}

.nav-links a:hover {
  color: #ccc;
}

.nav-hamburger {
  display: none;
  cursor: pointer;
  position: relative;
}

.nav-hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: transform 0.3s ease;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.active-button {
  padding: 10px;
  background-color: #f4f4f4;
  color: #2222 !important;
  border-radius: 10px;
}

.input {
  background-color: #f4f4f4;
  border-radius: 9px;
  outline: 0;
  border: 1.5px solid #272733;
  padding: 10px 15px;
  transition: border 0.1s ease-in-out;
  font-size: 14px;
}

.input:focus {
  border: 2.5px solid #333333;
}

.active-link {
  /* text-decoration: underline !important; */
  font-weight: bolder;
}

html {
  scroll-behavior: smooth;
}

.gridded {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card {
  box-shadow: #222 6px 5px 5px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1.7px solid #e5e5e5;
}

.w-full {
  width: 100%;
}

main {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.button {
  background-color: #252525;
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  transition: transform .1s ease-in-out, background-color .05s ease-in-out;
  color: white;
}

.button.button-green {
  background-color: #00aa00;
}

.button.button-green:hover {
  background-color: #006600;
}

.no-decoration {
  text-decoration: none;
}

.button:hover {
  background-color: #343434;
  cursor: pointer;
}

.button:active {
  transform: scale(0.91);
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  .gridded {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .nav-links.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links a {
    padding: 0 10px;
    display: inline-block;
    width: 100% !important;
  }

  .nav-links li {
    width: 100% !important;
    margin: 0;
    /* padding: 10px 0 10px 0; */
  }

  .nav-links li a {
    padding: 10px 20px;
  }

  .nav-hamburger {
    display: block;
  }

  .nav-hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }

  .nav-hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .nav-hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}
